\#recentf\#
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
.org-id-locations
auto-save-list/
backups/
bookmarks
cider-history
elpa/
ido.last
network-security.data
places
projectile-bookmarks.eld
recentf
request/
smex-items
tramp
init.html
